body {
    margin: 0;
    background: $red;
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
}

.container {
    height: 100%;
    width: 100%;
    display: table;

    .center {
        height: 100%;
        width: 100%;
        display: table-cell;
        vertical-align: middle;
    }
}

h1 {
    font-weight: 500;
    font-size: 60px;
    text-shadow: 5px 5px 0 rgba(#000, .1);
    margin: 0 0 20px 0;
}

p {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: rgba(#fff, .9);

    a {
        color: rgba(#fff, .9);
        text-decoration: none;
        border-bottom: solid 1px rgba(#fff, .3);

        &:hover { border-color: rgba(#fff, .5) }
    }
}

form {
    font-size: 0;
    width: 300px;
    margin: 0 auto;
    text-align: center; 
    margin-top: 36px;
}

input {
    text-align: center;
    height: 50px;
    border: none;
    display: inline-block;
    font-size: 20px;
    outline: none;
    margin: 0;
    padding: 0;
    color: rgba($blue, .7);
    font-weight: 300;

    &[type=text] {
        width: 30%;
        margin: 0 1.5%;

        &:focus { color: $blue; }
    }

    &[type=submit] {
        width: 96%;
        margin: 1.5% 1.3%;
        background: rgba(#000, .1);
        color: #fff;
        cursor: pointer;

        &:hover { background: rgba(#000, .15); }
    }
}


.output {
    margin: 0 auto;
    margin-top: 40px;
    font-weight: 300;
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;

    p {
        opacity: 0;
        -webkit-transition: opacity .2s;
        -moz-transition: opacity .2s;
        transition: opacity .2s;
    }

    span {
        font-weight: 500;
        padding: 0 2px;
        font-size: 20px;
        color: #fff;
        text-shadow: 2px 2px 0 rgba(#000, .1);
    }

    &.appear p { opacity: 1; }
}